region               = "us-east-1"
environment          = "prod"
vpc_cidr             = "10.40.0.0/16"
eks_cluster_role_arn = "arn:aws:iam::123456789012:role/openshelter-eks-control-plane"
eks_subnet_ids       = ["subnet-eeeeeeee", "subnet-ffffffff"]
rds_password         = "REPLACE_ME_FROM_SECRETS_MANAGER"
